.navbar {
    background-color: black;
    box-shadow: 0px 5px 0px var(--darkestgrey);
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 8px;
    font-family: "BebasNeue";
}

.navbar-buttons-container {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin-right: 24px;
}

/* .navbar-button-wrapper {
    animation: greyup 2s linear 0s infinite reverse;
    animation-play-state: paused;
} */

.navbar-button {
    font-family: "BebasNeue";
    text-align: center;

    padding-left: 8px;
    padding-right: 8px;
    font-size: 18pt;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: auto;
    height: 49%;

    /* animation: greyup 4s linear 0s infinite normal; */
}

@keyframes greyup {
    0% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 5%,
            black 5%,
            black 100%
        );
    }
    5% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 5%,
            black 5%,
            black 100%
        );
    }
    10% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 10%,
            black 10%,
            black 100%
        );
    }
    15% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 15%,
            black 15%,
            black 100%
        );
    }
    20% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 20%,
            black 20%,
            black 100%
        );
    }
    25% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 25%,
            black 25%,
            black 100%
        );
    }
    30% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 30%,
            black 30%,
            black 100%
        );
    }
    35% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 35%,
            black 35%,
            black 100%
        );
    }
    40% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 40%,
            black 40%,
            black 100%
        );
    }
    45% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 45%,
            black 45%,
            black 100%
        );
    }
    50% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 50%,
            black 50%,
            black 100%
        );
    }
    55% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 55%,
            black 55%,
            black 100%
        );
    }
    60% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 60%,
            black 60%,
            black 100%
        );
    }
    65% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 65%,
            black 65%,
            black 100%
        );
    }
    70% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 70%,
            black 70%,
            black 100%
        );
    }
    75% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 75%,
            black 75%,
            black 100%
        );
    }
    80% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 80%,
            black 80%,
            black 100%
        );
    }
    85% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 85%,
            black 85%,
            black 100%
        );
    }
    90% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 90%,
            black 90%,
            black 100%
        );
    }
    95% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 95%,
            black 95%,
            black 100%
        );
    }
    100% {
        background: linear-gradient(
            to top,
            var(--darkestgrey) 100%,
            black 100%,
            black 100%
        );
    }
}

.navbar-button:hover {
    animation-name: greyup;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
}

.logo {
    margin-right: auto;
    width: 10%;
    font-size: 24pt;
    margin-left: 24px;
    cursor: pointer;
}
