:root {
    --darkestgrey: rgb(53, 53, 53);
}
@font-face {
    font-family: "BebasNeue";
    src: url("BebasNeue-Regular.ttf");
}

html {
    background-color: white;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    color: white;
    font-family: "BebasNeue";
}

a:visited {
    color: white;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
